{% extends 'base.html.twig' %}
{% block body %}
    <div class="formPerso">
        <p>{{ joueur.email }}</p>
        <p>{{ joueur.personnage.nom }}</p>
        {{form_start(editStats)}}
        {{form_row(editStats.pv,{'attr':{'min': joueur.personnage.stats.pv, 'max': joueur.personnage.stats.pv+50}})}}
        {{form_row(editStats.mov,{'attr':{'min': joueur.personnage.stats.mov, 'max': '50'}})}}
        {{form_row(editStats.att,{'attr':{'min': joueur.personnage.stats.att, 'max': '50'}})}}
        {{form_row(editStats.def,{'attr':{'readonly':''}})}}
        {{form_end (editStats)}}
    </div>
{% endblock %}