{% extends 'base.html.twig' %}
{% block body %}
    <div class="formPerso">
        <p>{{ joueur.email }}</p>
        <p>{{ joueur.personnage.nom }}</p>
        <input type="button" id="generator" value="generer"/>
        <input id="rdStats" type="text" name="fname" readonly="" value="0">
        {{form_start(editStats, {'attr':{'action':path("statsUp")}})}}
        {{form_row(editStats.pv,{'attr':{'min': joueur.personnage.stats.pv}})}}
        {{form_row(editStats.mov,{'attr':{'readonly':''}})}}
        {{form_row(editStats.att,{'attr':{'min': joueur.personnage.stats.att}})}}
        {{form_row(editStats.def,{'attr':{'readonly':''}})}}
        <input type="submit" value="validez"/>
        {{form_end (editStats)}}
    </div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('./script/stats.js') }}"></script>
{% endblock %}